<nav class="navbar navbar-expand-lg navbar-white bg-white" style="display: flex; align-items: center;">
  <img class="navbar-logo" src="https://static.vecteezy.com/ti/vecteur-libre/p1/40522098-voyage-sac-vecteur-logo-conception-modele-vectoriel.jpg%20985w" style="width: 100px; height: auto; margin-right: 10px;">
  <div>
    <p style="color:rgb(246, 45, 179); font-weight: bold; font-size: larger; margin: 0;">Agence Voyages</p>
  </div>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/users">Utilisateurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/voyages">Voyages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reservation">Réservations</a>
      </li>
    </ul>
  </div>
</nav>