{% extends 'base.html.twig' %}

{% block title %}New Voyage{% endblock %}

{% block body %}
    <h1>Créer un voyage</h1>

    {{ include('voyage/_form.html.twig') }}

    <a href="{{ path('app_voyage_index') }}" class="btn btn-primary m-2">Retour à la liste</a>
{% endblock %}
